.wrapper{
    height: 36vh;
    width: 80vh;
    display: flex;
}
.wrapper-btn{
    // display: block;
    width: 80px;
    margin-right: 20px;
}
.btn{
    margin: 10px 0;
    width: 100px;
    background-color: rgb(24, 132, 221);
    border-radius: 8px;
}
