div.wrapper{
    margin: 70px 20px;
    div.content_main{
        display: flex;
        img.img-movie{
            width: 30%;
        }
        p.derc{
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.6;
            margin: 0 10px;
        }
    }
    
}