.wrapper{
    padding-top: 60px;
    height: 100vh;
    // background-image: url('https://res.cloudinary.com/dbaul3mwo/image/upload/v1684448146/learn_nodejs/evrz7wqrqled9uw27bxp.jpg');
}
.Controller-Title{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}