.wrapper{
    position: relative;
    margin-top: 60px;
    width: 240px;
    height:84vh;
    .wrapper-ul{
        list-style: none;
        text-align: center;
        border: 1px solid #333;
        background-color: rgb(243, 248, 248);
        .controler-value{
            padding: 5px;
            font-size: 2rem;
            line-height: 1.6;
            font-weight: 500;
            border:1px solid #333;
            background-color: white;
            margin: 5px;
            cursor: pointer;
            &:hover{
                background-color: black;
                opacity: 0.5;
                color: white;
            }
        }
    }
}

